.header {
    justify-content: space-between;
    display: flex;
}

.header__nav {
    display: flex;
    gap: 1rem;
}

.header__nav-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: color 0.3s ease;
}

.header__nav-link--active {
    font-weight: bold;
    color: #007bff;
}